<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.reserve.repository.MemberRepository">
    <select id="select" parameterType="String" resultType="Members">
        SELECT
            memberNo,
            memberId,
            password,
            phone,
            name,
            team,
            status,
            CONCAT('ROLE_',role) role,
            approver,
            createdAt,
            updatedAt
        FROM TB_MEMBER
        WHERE memberId = #{memberId}
    </select>

    <select id="count" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM TB_MEMBER
        WHERE memberId = #{memberId}
    </select>

    <insert id="insert" parameterType="Members" useGeneratedKeys="true"  keyProperty="memberNo">
        INSERT INTO TB_MEMBER (memberId, password, phone, name, team)
        VALUES (#{memberId}, #{password}, #{phone}, #{name}, #{team})
    </insert>

    <update id="update" parameterType="Members">
        UPDATE TB_MEMBER SET
                             password = #{password},
                             phone = #{phone},
                             name = #{name},
                             team = #{team},
                             updatedAt = NOW()
                         WHERE memberId=#{memberId}
    </update>

    <delete id="delete" parameterType="String">
        DELETE FROM TB_MEMBER WHERE memberId = #{memberId}
    </delete>
</mapper>